* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    margin-top: 25px;
}

h2 {
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    margin: 15px;
    font-weight: bold;
}

.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-titulo {
    font-size: 2.5vw;
    color: rgb(8, 163, 240);
    text-shadow: 1px 2px 0px white;
}

/* estio para tareas  */
.tarea-principal {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    margin: 15px;
    padding: 20px;
    border-radius: 26px;
    text-align: center;
}